.how-we-do-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	border: 1px solid $white-headers;
	@media (min-width: $screen-width-large){
		// height: 450px;
		max-width: 80%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 3px;
	    grid-column-gap: 3px;
	}
	
}

.how-we-do-box {
margin: 0;
padding: 0;
border-top: 1px solid $white-headers;
// border-bottom: 1px solid $white-headers;
	@media (min-width: $screen-width-mid){
	background: $white-headers;
	width: 100%;
	}
}

#like-that, #make-it-real-good, #you-clap {
	background: $blue-box-background;
	text-color: $main-text-color;
}

@media (min-width: $screen-width-large){
	#give-it-to-you {
		background: $blue-box-background;
	}
	#make-it-real-good, #you-clap {
		background: $white-headers;
	}

}


.box-text {
	width: 80%;
	margin-bottom: 7%;
	margin-top: 7%;
	@media (min-width: $screen-width-mid){
	margin-bottom: 10px;
	width: 90%;
    margin-left: 11%;
    margin-top: 11%;
}
}