/* ICONS */

.fa,.fas {
	color: #000;
	width: inherit;
	margin: auto;
}


#how-we-do-icons {
	height: 50px;
}

.pricing-icon-box {
	height: 30%;
	position: relative;
}

#pricing-icon {
	position: absolute;
	bottom: 13%;
    left: 15%;
}

#pricing-icon-professional {
	position: absolute;
	bottom: 13%;
    left: 15%;
	color: #000080;
}