.mobile-button {
	display: inline;
	position: fixed;
	float: left;
	padding: 5px 10px;
	color: #fff;
		/*width: 10%;
		height: 10%;*/
	}

.mobile-button img {
	width: 20%;
	color: #fff;
}

.main-nav {
	display: none;
}

@media (min-width: $screen-width-large) {

	.mobile-button {
		display: none;
	}

	.mobile-nav {
		display: none;
	}

	.main-nav {
		display: flex;
		height: 60px;
		width: 100vw;
		position: fixed;
		border-bottom: 1px solid white;
	}

	.main-nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		height: inherit;
	} 

	.main-nav li {
		margin: 30px;
		padding: 0 5px;
	}

	.main-nav li:hover {
		font-style: italic;
	}

	.main-nav a {
		text-decoration: none;
		color: #fff;
	}

	.main-title-container {
		width: 100%;
		margin-top: 30vh;
	}

	.main-title-text {
		display: flex;
		/*margin: auto;*/
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}


	.watch-us {
		margin: 0 auto;
		text-align: center;
	}

	.watch-us button {
		background-color: #fff;
		color: #000;
		font-family: 'Titillium Web', sans-serif;
		font-size: 15px;
		width: 200px;
		height: 50px;
		margin: 50px auto;
		border-radius: 10px;
		/*text-decoration: bold;*/
	}

}