/* MOBILE NAV*/

.mobile-button {
	display: inline;
	float: left;
	padding: 5px 10px;
	color: #fff;
		/*width: 10%;
		height: 10%;*/
	}

.mobile-button img {
	width: 20%;
	color: #fff;
}

.mobile-nav {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.mobile-nav-open {
	display: flex;
}

.main-nav {
	display: none;
}

.main-title-container {
	width: 100%;
	margin-top: 30vh;
}

.main-title-text {
	display: flex;
	/*margin: auto;*/
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-title-text h1 {
	font-size: 72px;
	color: #fff;
}

.main-title-text p {
	font-size: 27px;
	font-family: 'Titillium Web', sans-serif;
	color: #d3d3d3;
	margin: 0;
}


.watch-us {
	margin: 0 auto;
	text-align: center;
}

.watch-us button {
	background-color: #fff;
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	width: 200px;
	height: 50px;
	margin: 50px auto;
	border-radius: 10px;
	/*text-decoration: bold;*/
}