.parallax {
	background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
	url(../Images/phone-on-table.jpeg);
	background-size: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 500px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-text {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.parallax-text h1 {
	color: #fff;
	font-size: 50px;
}

.parallax-text p {
	font-weight: bold;
	font-size: 17px;
	color: #fff;
}