/* REVIEWS */

.customer-reviews-container {
	margin-top: 0px;
	@media (min-width: $screen-width-mid) {
	background: #fff;
	margin-top: 175px;
	}
}

.customer-reviews {
	margin-left: 100px;
	margin: 10px 10px 0 10px;
	width: 70%;
}

#quote-icon {
	display: inline;
}

blockquote {
	margin-top: 10px;
	color: #A6A7AA;
	background-image: url('images/quote-left.svg');
	background-size: 35px;
	background-repeat: no-repeat;
}

.customer-reviews p {
	margin-left: 10%;
	margin-bottom: 10px;
}