/* REVIEWS */

.customer-reviews-container {
	height: 500px;
	background: #fff;
	margin-top: 175px;
}

.customer-reviews {
	margin-left: 100px;
	margin-top: 100px;
	width: 40%;
}

#quote-icon {
	display: inline;
}

blockquote {
	margin-top: 20px;
	color: #A6A7AA;
	background-image: url('images/quote-left.svg');
	background-size: 35px;
	background-repeat: no-repeat;
}

.customer-reviews p {
	margin-left: 10%;
}