.work-examples h3, p {
	margin-top: 15px;
	overflow-y: hidden;
}

.work-examples {
	width: 95vw;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	overflow-y: hidden;

	// height: 480px;
	// position: relative;
	@media (min-width: $screen-width-large) {
		overflow-y: hidden;
		display: flex;
		flex-direction: row;
		margin-bottom: 80px;
		
		}
}

.peperoni-banana, .face-story, .everyone-clapping {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	img {
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	
	@media (min-width: $screen-width-large) {
		width: 350px;
		overflow-y: hidden;
	}
	
}

.button-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: left;
}

#work-examples-button {
	width: 100px;
	margin-left: 0;
	margin-right: auto;
	
	@media (min-width: $screen-width-mid) {
		font-size: 15px;
		width: 150px;
		height: 50px;
		margin-top: 5px;
		border-radius: 5px;
	}
}