.work-examples h3, p {
	margin-top: 15px;
}

.work-examples img {
	height: 270px;
}

.peperoni-banana, .face-story, .everyone-clapping {
	width: 350px;
}

.work-examples button {
	font-size: 15px;
	width: 150px;
	height: 50px;
	margin-top: 5px;
	border-radius: 5px;
}

.read-more {
	position: absolute;
	bottom: 0;
	font-size: 10px;
}